<div class="card">
    <div class="container">
        {% for cs in secuencias1 %}
        

    <div class="mb-3">
        <label class="form-label requiredField">
            Parámetros<span class="asteriskField">*</span>
        </label>      
    <div>
     
        {% for sq in cs.protocolo.parametro.all %}
       
      
    
        <input type="checkbox" class="form-check-input" name="status_parametro" value="{{items.status_parametro}}" id="id_parametro">
   
    <label for="id_parametro" class="form-check-label" checked="">
       {{sq.nombre_Parametro}}
    </label>

    
   
    </div>
    {% endfor %}
    
    </div>
    <a href="{% url 'actualizarEstadoParametros' cs.id %}" class="btn btn-primary" type="submit">Guardar</a>


    </div>
    {% endfor %}

</div>

<div class="container">
    <div class="card">
        <div class="container-fluid">
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th>Parametro proto</th>
                        <th>Parametro adquirida</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cs in secuencias1 %}
                    {% for sq in cs.protocolo.parametro.all %}

                    <tr>
                        <td>
                                {{sq.nombre_Parametro}}
                                {% endfor %}
                        </td>
                        <td>
                            {% for sqa in cs.parametro_sq.all %}
                            {{sqa}}
                            
                          {% endfor %}
                         </td>
                       
                    
                    </tr>
                    {% endfor %}
                   
                </tbody>

            </table>

        </div>

    </div>

</div>