{% extends "partial/body.html" %}




{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% block contenido %}
{% load bootstrap5 %}
{% load static %}
{% include "partial/header_gestion_secuencias.html" %}

<!-- Input Material -->
<script src="https://unpkg.com/gijgo@1.9.14/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.14/css/gijgo.min.css" rel="stylesheet" type="text/css" />
<!-- Input Material -->


<div class="contenido">
    <div class="container-fluid">
        <div class="card">
            <div class="container-fluid">
          
            </div>
            <div class="card-body">
                <table class="table  table-bordered " id="example3">  <thead class="" >
                    <tr class="text-center">
                        <th class="all text-center" style="display: None;">Fecha/Hora Inicio</th>
                        <th class="text-center">Secuencia</th>
                        <th class="text-center">Sistema</th>
                        <th class="text-center">Protocolo/Método</th>
                        <th class="text-center">Parámetro</th>
                        <th class="text-center">Muestras</th>
                        <th class="text-center">Status</th>
                        <th class="all text-center" >Acciones</th>
                    </tr>
                </thead>
                <tbody id="myTable">
                    {% for item in secuenicas.all %}
                    {% if item.status == "Revisada" or item.status == "Impresa" or item.status == "Reportada" or item.status == "Auditada" %}
                    <tr class="text-center">
                        <td class="all text-center" style="display: None;" >{{item.fecha_Inicio|date:'Y-m-d H:i'}}</td>
                        <td>{{item.nombre}} &nbsp; <a href="" title="Revisar secuencia" class="text-black text-center"  data-bs-target="#observacion_secuencia{{ item.pk }}" data-bs-toggle="modal"><span class="fa fa-camera-retro" ></span></a>
                        </td>
                        <td>{{item.sistema}}</td>
                        <td >{% if item.protocolo.id > 67 %}
                          {{item.protocolo}}
                          {% endif %}
                          {% if item.protocolo_proceso.id > 9 %}
                          {{item.protocolo_proceso}}
                          {% endif %}
                          {% if item.metodo.id > 2 %}
                          {{item.metodo}}
                          {% endif %}</td>
                        <td >{{item.parametro_sq}}</td>
                        <td data-toggle="collapse" data-target="#demo1" class="accordion-toggle" colspan="" class="hiddenRow"> {% if item.muestras.id == 16 %}
                          {% for p in item.protocolo.muestras_y_Placebos.all %}
                            Código: {{p.codigo_muestra_producto}}. 
                            <div class="accordian-body collapse" id="demo1"> {{p.nombre_muestra}} {{p.lote_muestra}}</div>{% endfor %}
                          {% else %}
                          <div class="accordian-body collapse" id="demo1"> {{item.muestras.nombre_muestra}} {{item.muestras.lote_muestra}} {{item.muestras.codigo_muestra_producto}} </div>Etapa: {{item.muestras.etapa}}
                          
                          {% endif %}
                        </td>
                        <td>                          
                          {% if item.status == "Revisada" %} <div class="badge bg-danger text-white rounded-pill">Pendiente</div>{% endif %}
                          {% if item.status == "Impresa" %} <div class="badge bg-warning  rounded-pill">Impresa</div>{% endif %}
                          {% if item.status == "Reportada" %} <div class="badge bg-success text-white rounded-pill">Reportada</div>{% endif %}
                          {% if item.status == "Auditada" %} <div class="badge bg-primary text-white rounded-pill">Auditada</div>{% endif %}
                         
                        </td>
                        <td>
                          {% if perms.Secuencias.view_usuario_impresion %}
                          {% if item.status == "Revisada" %}
                            <a href="{% url 'impresion_secuencia' item.pk %}" title="Impresión" class="btn btn-secondary  btn-circle text-center" style="background:#486af389"  data-bs-target="#impresion_secuencia{{ item.pk }}" data-bs-toggle="modal"><span class="fa fa-print" aria-hidden="true"></span></a>
                            {% else %}
                            <a href="{% url 'impresion_secuencia' item.pk %}" title="Impresión" class="btn  btn-circle text-center disabled" style="background:rgba(225, 227, 121, 0.259)"  data-bs-target="#impresion_secuencia{{ item.pk }}" data-bs-toggle="modal"><span class="fa fa-print" aria-hidden="true" ></span></a>
                            {% endif %}
                            {% if item.status == "Impresa" %}
                            <a href="{% url 'reporte_secuencias' item.pk %}" title="Reporte" class="btn btn-secondary  btn-circle text-center"  style="background:#486af389"  data-bs-target="#reporte_secuencias{{ item.pk }}" data-bs-toggle="modal"><span class="fa fa-sticky-note" aria-hidden="true"></span></a>
                            {% else %}
                            <a href="{% url 'reporte_secuencias' item.pk %}" title="Reporte" class="btn  btn-circle text-center disabled" style="background:#b3f4cb32"  data-bs-target="#reporte_secuencias{{ item.pk }}" data-bs-toggle="modal"><span class="fa fa-sticky-note" aria-hidden="true"></span></a>
                            {% endif %}
                            {% endif %}
                            {% if perms.Secuencias.view_usuario_auditor %}
                            {% if item.status == "Reportada" %}
                            <a href="{% url 'auditar_secuencias' item.pk %}" title="Auditar" class="btn btn-secondary  btn-circle text-center"  style="background:#486af389" data-bs-target="#auditar_secuencias{{ item.pk }}" data-bs-toggle="modal"><span class="fa fa-check"></span></a>
                            {% else %}
                            <a href="{% url 'auditar_secuencias' item.pk %}" title="Auditar" class="btn  btn-circle text-center disabled" style="background:#7e94eb25" data-bs-target="#auditar_secuencias{{ item.pk }}" data-bs-toggle="modal"><span class="fa fa-check"></span></a>
                            {% endif %}
                        {%   endif%}  </td>
                    </tr>
    <!-- --------IMPRESION Modal Inicio ---------------------------------------------->
         <div  data-bs-backdrop="static" data-backdrop="hidden" data-backdrop="false"  class="modal fade" id="impresion_secuencia{{ item.pk }}" tabindex="-1" aria-labelledby="modal_validar" aria-hidden="true">
            <div class="modal-dialog ">
                <div class="modal-content">
                  <div class="container">
                   
                  <div class="modal-body text-center" >
                    <br>
                    <i class='fa fa-question' style='font-size:70px;color: #1b3d70c2;'></i>                  <br>
                    <br>
                                      <h1 class="fst-italic">Confirma impresión?</h1>
                                      
                                      <div class="container">
                                        <!--
                                    <h5 class="fst-italic ">Por favor, registre:</h5>
                                        -->
                                      </div>
                                      
                                      <form action="{% url 'impresion_secuencia' item.pk %}" method="POST"> {% csrf_token %}
                                        
                               <!--FECHA_IMPRESION--> 
                                <input value="{{item.fecha_impresion|date:'Y-m-d H:i'}}" type="datetime-local" name="fecha_impresion" class="numberinput form-control gj-textbox-md " id="fecha_impresion" width="" data-datepicker="true" style="display: none;"> 
                                  <br>
                                <!--FECHA_IMPRESION--> 
                       <!--FECHA_VALIDACION--> 
                       <input value="{{item.fecha_validar|date:'Y-m-d H:i'}}" type="datetime-local" name="fecha_validar" class="numberinput form-control gj-textbox-md " id="fecha_validar" width="" data-datepicker="true" style="display: none;"> 
                       <br>
                     <!--FECHA_VALIDACION-->            
                                                              
                    <!--USUARIO-->
                    
                 <div style="display: none;"  class="form-group numberinput form-control gj-textbox-md" >
                   <select style="display:none"   name="imprimir" class=" select form-control gj-textbox-md" value="" title="" required="" id="id_imprimir">
                     {% for item1 in imprimir.all %}
                     <option value="{{item1.id}}" >{{user.username}}</option>
                  {% endfor %}
              </select>
               </div>

       
                  <!--USUARIO-->
                  <div style="display: None;">
                    <div  class="form-group numberinput form-control gj-textbox-md" >
                      <select style="display:none"  style="width: 100%;"  name="validar" class=" auditar form-control gj-textbox-md" value="" title="" id="id_validar">
                        <option value="{{item.validar_id}}" >{{item.validar}}</option>
                  </select>
                   </div>
                    
                  <input value="{{item.fecha_Inicio|date:'Y-m-d H:i'}}" type="datetime-local" name="fecha_Inicio" class="numberinput form-control gj-textbox-md" id="fecha_Inicio" width="" data-datepicker="true"> 
                  <input value="{{item.fecha_Final|date:'Y-m-d H:i'}}" type="datetime-local" name="fecha_Final" class="numberinput form-control gj-textbox-md" id="fecha_Final" width="" data-datepicker="true"> 
                  <input type="text" name="nombre" maxlength="250" value="{{item.nombre}}" class="numberinput form-control gj-textbox-md" id="id_nombre" required> 
                  <select style="display:none"   name="protocolo" style="width: 100%;" required="" id="id_protocolo" class="select numberinput form-control gj-textbox-md" readonly="true">
                    <option value="{{item.protocolo_id}}">{{item.protocolo}}</option>
                  </select>
                  <select style="display:none"  name="sistema" style="width: 100%;" class="select numberinput form-control gj-textbox-md" title="" required="" id="id_sistema" readonly>
                    <option value="{{item.sistema_id}}">{{item.sistema}}</option>
                  </select>
                  <select style="display:none"  style="width: 100%;"  name="parametro_sq" class=" select form-control gj-textbox-md" value="{{item.parametro_sq_id}}" title="" required="" id="id_parametro_sq" readonly>
                    <option value="{{item.parametro_sq_id}}">{{item.parametro_sq}}</option>
                  </select>
                  <textarea name="observaciones" value="{{item.observaciones}}" cols="40" rows="5" class="numberinput form-control gj-textbox-md" required="" id="id_observaciones">{{item.observaciones}}</textarea>
                   <!--PROTOCOLO PROCESO-->
                    <select style="display:none" name="protocolo_proceso" style="width: 100%;" required="" id="id_protocolo_proceso" class="select numberinput form-control gj-textbox-md dis">
                      <option value="{{item.protocolo_proceso_id}}">{{item.protocolo_proceso}}</option>
                    </select>
                <!--PROTOCOLO PROCESO-->  
                <!--METODO-->
                    <select style="display:none" name="metodo" style="width: 100%;" required="" id="id_metodo" class="select numberinput form-control gj-textbox-md">
                    <option value="{{item.metodo_id}}">{{item.metodo}}</option>
                    </select>
               <!--METODO-->    
               <!--MUESTRA PROCESO -->
                    <select style="display:none"  name="muestras" class=" select form-control "  title="" required="" id="id_muestras">
                    <option value="{{item.muestras_id}}">{{item.muestras.nombre_muestra}} {{item.muestras.lote_muestra}} {{item.muestras.etapa}} {{item.muestras.codigo_muestra_producto}}</option>
                  </select>
                 <!--MUESTRA PROCESO -->    
                  </div>
                      </div>
                      <div class=" container-fluid text-center col-12 mx-auto">
                        <button class="btn btn-primary btn-lg" style="background-color: #1b3d70c2;" type="submit">Si, confirmar</button>
                        <button type="button" class="btn btn-secondary btn-lg" data-bs-dismiss="modal">No, cancelar</button>
                     <br>
                     <br>
                      </div>
                       <!--SCRIPTS INICIO PARA SELECT2-->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
            <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
             <script>
             $('.prueba').css('width', '100%').select2({
             theme: "classic",
             placeholder:"Usuario",
             dropdownParent:$("#impresion_secuencia{{ item.pk}}"),
             });
             </script>
                       <!--SCRIPTS FINAL PARA SELECT2-->
                  </form>
                </div>
                </div>
              </div>
            </div>
    <!-- --------IMPRESION Modal Fin -------------------------------------------------------------------------->

    <!--------- -REPORTE Modal Inicio ---------------------------------------------------->
                        <div  data-bs-backdrop="static" data-backdrop="hidden" data-backdrop="false"  class="modal fade" id="reporte_secuencias{{ item.pk }}" tabindex="-1" aria-labelledby="modal_validar" aria-hidden="true">
                          <div class="modal-dialog ">
                              <div class="modal-content">
                                <div class="container">
                                 
                                <div class="modal-body text-center" >
                                  <br>
                                  <i class='fa fa-question' style='font-size:70px;color: #1b3d70c2;'></i>                  <br>
                                  <br>
                                                    <h1 class="fst-italic">Confirma reporte?</h1>
                                                    <br>
                                                    <div class="container">
                                                      <h5 class="fst-italic ">Por favor, registre referencia:</h5>
                                                    </div>
                                                    
                <form action="{% url 'reporte_secuencias' item.pk %}" method="POST"> {% csrf_token %}
                         <!--FECHA_REPORTE--> 
                         <input value="{{item.fecha_reporte|date:'Y-m-d H:i'}}" type="datetime-local" name="fecha_reporte" class="numberinput form-control gj-textbox-md " id="fecha_reporte" width="" data-datepicker="true" style="display: none;" > 
                         <br>
                       <!--FECHA_REPORTE--> 
                          <!--FECHA_VALIDACION--> 
                          <input value="{{item.fecha_validar|date:'Y-m-d H:i'}}" type="datetime-local" name="fecha_validar" class="numberinput form-control gj-textbox-md " id="fecha_validar" width="" data-datepicker="true" style="display: none;"> 
                          <br>
                        <!--FECHA_VALIDACION-->       
                                                    
               <!--REFERENCIA--> 
               <div class="mb-3">

                <input name="referencia" value="" placeholder="Referencia" class="numberinput form-control gj-textbox-md" id="id_referencia" required>
              </div> <br>        
                 <!--REFERENCIA-->
                <!--FECHA_REPORTE INICIO--> 
                <!--
                  <input value="{{item.fecha_reporte|date:'Y-m-d H:i'}}" type="datetime-local" name="fecha_reporte" class="numberinput form-control gj-textbox-md " id="fecha_reporte" width="" data-datepicker="true" required min="{{item.fecha_impresion|date:'Y-m-d H:i'}}" max="{% now 'Y-m-d H:i' %}"> 
                          <br>
                -->
                       
                <!--FECHA_REPORTE FIN--> 
                <!--USUARIO INICIO-->
                      
              <div style="display: none;" class="form-group numberinput form-control gj-textbox-md" >
                <select style="display:none"   name="reportar" class=" select form-control gj-textbox-md" value="" title="" required="" id="id_reportar">
                  {% for item1 in reportar.all %}
                  <option value="{{item1.id}}" >{{user.username}}</option>
               {% endfor %}
                </select>
                 </div>
                
                <!--USUARIO FIN-->

                          <div style="display: None;">
                                  <div  class="form-group numberinput form-control gj-textbox-md" >
                              <select style="display:none"  style="width: 100%;"  name="imprimir" class=" prueba form-control gj-textbox-md" value="" title=""  id="id_imprimir">
                                <option value="{{item.imprimir_id}}" >{{item.imprimir}}</option>
                          </select>
                           </div>

                            <!--FECHA_IMPRESION--> 
                          <input value="{{item.fecha_impresion|date:'Y-m-d H:i'}}" type="datetime-local" name="fecha_impresion" class="numberinput form-control " id="fecha_impresion" width="" data-datepicker="true"> 
                     <!--FECHA_IMPRESION--> 
                          <!--USUARIO-->
                          <!--
                                {% for item1 in usuario.all %}
                          <div style="display:none" class="form-group numberinput form-control gj-textbox-md" >
                         <select style="display:none"  style="width: 100%;"  name="usuario" class=" prueba form-control gj-textbox-md" value="" title="" required="" id="id_usuario">
                       <option value="{{item1.id}}" >{{user.username}}</option>
                       {% endfor %}
                         </select>
                         </div>
                          -->
                      <!--USUARIO-->
                        <div style="display: None;">
                                            <!--
                                                <div  class="form-group numberinput form-control gj-textbox-md" >
                                              <select style="display:none"  style="width: 100%;"  name="reportar" class=" prueba form-control gj-textbox-md" value="{{item.reportar}}" title="" required="" id="id_reportar">
                        
                                                {% for item1 in reportar.all %}
                                                <option value="{{item1.id}}" >{{user.username}}</option>
                        
                                                <option value="{{item1.id}}" >{{item.reportar}}</option>
                                             {% endfor %}
                                          </select>
                                           </div>
                                            -->
                                            <div  class="form-group numberinput form-control gj-textbox-md" >
                                              <select style="display:none"  style="width: 100%;"  name="validar" class=" prueba form-control gj-textbox-md" value="" title=""  id="id_validar">
                                                <option value="{{item.validar_id}}" >{{item.validar}}</option>
                                          </select>
                                           </div>   
                                          <input value="{{item.fecha_Inicio|date:'Y-m-d H:i'}}" type="datetime-local" name="fecha_Inicio" class="numberinput form-control gj-textbox-md" id="fecha_Inicio" width="" data-datepicker="true"> 
                                          <input value="{{item.fecha_Final|date:'Y-m-d H:i'}}" type="datetime-local" name="fecha_Final" class="numberinput form-control gj-textbox-md" id="fecha_Final" width="" data-datepicker="true"> 
                                          <input type="text" name="nombre" maxlength="250" value="{{item.nombre}}" class="numberinput form-control gj-textbox-md" id="id_nombre" required> 
                                          <select style="display:none"   name="protocolo" style="width: 100%;" required="" id="id_protocolo" class="select numberinput form-control gj-textbox-md" readonly="true">
                                            <option value="{{item.protocolo_id}}">{{item.protocolo}}</option>
                                          </select>
                                          <select style="display:none"  name="sistema" style="width: 100%;" class="select numberinput form-control gj-textbox-md" title="" required="" id="id_sistema" readonly>
                                            <option value="{{item.sistema_id}}">{{item.sistema}}</option>
                                          </select>
                                          <select style="display:none"  style="width: 100%;"  name="parametro_sq" class=" select form-control gj-textbox-md" value="{{item.parametro_sq_id}}" title="" required="" id="id_parametro_sq" readonly>
                                            <option value="{{item.parametro_sq_id}}">{{item.parametro_sq}}</option>
                                          </select>
                                          <textarea name="observaciones" value="{{item.observaciones}}" cols="40" rows="5" class="numberinput form-control gj-textbox-md" required="" id="id_observaciones">{{item.observaciones}}</textarea>
                                           <!--PROTOCOLO PROCESO-->
                    <select style="display:none" name="protocolo_proceso" style="width: 100%;" required="" id="id_protocolo_proceso" class="select numberinput form-control gj-textbox-md dis">
                      <option value="{{item.protocolo_proceso_id}}">{{item.protocolo_proceso}}</option>
                    </select>
                <!--PROTOCOLO PROCESO-->  
                <!--METODO-->
                    <select style="display:none" name="metodo" style="width: 100%;" required="" id="id_metodo" class="select numberinput form-control gj-textbox-md">
                    <option value="{{item.metodo_id}}">{{item.metodo}}</option>
                    </select>
               <!--METODO-->    
               <!--MUESTRA PROCESO -->
                    <select style="display:none"  name="muestras" class=" select form-control "  title="" required="" id="id_muestras">
                    <option value="{{item.muestras_id}}">{{item.muestras.nombre_muestra}} {{item.muestras.lote_muestra}} {{item.muestras.etapa}} {{item.muestras.codigo_muestra_producto}}</option>
                  </select>
                 <!--MUESTRA PROCESO -->   
                                              
                                          </div>
                                    </div>
                                    <div class=" container-fluid text-center col-12 mx-auto">
                                      <button class="btn btn-primary btn-lg" style="background-color: #1b3d70c2;" type="submit">Si, confirmar</button>
                                      <button type="button" class="btn btn-secondary btn-lg" data-bs-dismiss="modal">No, cancelar</button>
                                   <br>
                                   <br>
                                    </div>
                                     <!--SCRIPTS INICIO PARA SELECT2-->
                          <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
                          <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
                          <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
                           <script>
                           $('.select').css('width', '100%').select2({
                           theme: "classic",
                           placeholder:"Usuario",
                           dropdownParent:$("#reporte_secuencias{{ item.pk }}"),
                           });
                           </script>
                                     <!--SCRIPTS FINAL PARA SELECT2-->
                                </form>
                              </div>
                              </div>
                            </div>
                          </div>

    </div>
    <!-- --------REPORTE Modal FIN -->

 <!--------- ----AUDITAR Modal Inicio ---------------------------------------------------->
 <div  data-bs-backdrop="static" data-backdrop="hidden" data-backdrop="false"  class="modal fade" id="auditar_secuencias{{ item.pk }}" tabindex="-1" aria-labelledby="modal_validar" aria-hidden="true">
  <div class="modal-dialog ">
      <div class="modal-content">
        <div class="container">
         
        <div class="modal-body text-center" >
          <br>
          <i class='fa fa-question' style='font-size:70px;color: #1b3d70c2;'></i>                  <br>
          <br>
                            <h1 class="fst-italic">Confirma Revisión?</h1>
                            <br>
                            <div class="container">
                            </div>
                            <form action="{% url 'auditar_secuencias' item.pk %}" method="POST"> {% csrf_token %}

    <!--FECHA_AUDITORIA INICIO--> 
   
    <input value="{{item.fecha_auditada|date:'Y-m-d H:i'}}" type="datetime-local" name="fecha_auditada" class="numberinput form-control gj-textbox-md " id="fecha_auditada" width="" data-datepicker="true" style="display: none;"> 
  <br> <!--FECHA_AUDITORIA FIN--> 
       <!--FECHA_VALIDACION--> 
       <input value="{{item.fecha_validar|date:'Y-m-d H:i'}}" type="datetime-local" name="fecha_validar" class="numberinput form-control gj-textbox-md " id="fecha_validar" width="" data-datepicker="true" style="display: none;"> 
       <br>
     <!--FECHA_VALIDACION-->  
 
  

<!--USUARIO AUDITORIA INICIO-->

<div style="display: None;"  class="form-group numberinput form-control gj-textbox-md" >
<select style="display:none"   name="auditar" class=" auditar form-control gj-textbox-md" value="" title="" required="" id="id_auditar">
{% for item1 in auditar.all %}
<option value="{{item1.id}}" >{{user.username}}</option>
{% endfor %}
</select>
</div>

<!--USUARIO AUDITORIA FIN-->
        <div style="display: None;">
        <!--USUARIO IMPRESION INICIO-->
          <div  class="form-group numberinput form-control gj-textbox-md" >
      <select style="display:none"  style="width: 100%;"  name="imprimir" class=" auditar form-control gj-textbox-md" value="" title=""  id="id_imprimir">
        <option value="{{item.imprimir_id}}" >{{item.imprimir}}</option>
  </select>
   </div>
       <!--USUARIO IMPRESION FIN-->

       <!--USUARIO REPORTE INICIO-->
       <div  class="form-group numberinput form-control gj-textbox-md" >
        <select style="display:none"  style="width: 100%;"  name="reportar" class=" auditar form-control gj-textbox-md" value="" title="" id="id_reportar">
          <option value="{{item.reportar_id}}" >{{item.reportar}}</option>
    </select>
     </div>
     <!--USUARIO REPORTE FIN-->

     <!--REFERENCIA REPORTE INICIO-->
     <textarea name="referencia" value="{{item.referencia}}" cols="40" rows="2" class="numberinput form-control gj-textbox-md" id="id_referencia">{{item.referencia}}</textarea>
     <!--REFERENCIA REPORTE INIFINCIO-->

    <!--FECHA_IMPRESION INICIO--> 
  <input value="{{item.fecha_impresion|date:'Y-m-d H:i'}}" type="datetime-local" name="fecha_impresion" class="numberinput form-control " id="fecha_impresion" width="" data-datepicker="true" > 
    <!--FECHA_IMPRESION FIN--> 
 
    <!-- FECHA REPORTE INICIO--> 
  <input value="{{item.fecha_reporte|date:'Y-m-d H:i'}}" type="datetime-local" name="fecha_reporte" class="numberinput form-control gj-textbox-md " id="fecha_reporte" width="" data-datepicker="true" > 
    <!-- FECHA REPORTE FIN--> 
  <!--USUARIO-->
  <!--
     {% for item1 in usuario.all %}
  <div style="display:none" class="form-group numberinput form-control gj-textbox-md" >
 <select style="display:none"  style="width: 100%;"  name="usuario" class=" auditar form-control gj-textbox-md" value="" title="" required="" id="id_usuario">
<option value="{{item1.id}}" >{{user.username}}</option>
{% endfor %}
 </select>
 </div>
  -->
   
                  <!--USUARIO-->
                 
                    <!--
                        <div  class="form-group numberinput form-control gj-textbox-md" >
                      <select style="display:none"  style="width: 100%;"  name="reportar" class=" prueba form-control gj-textbox-md" value="{{item.reportar}}" title="" required="" id="id_reportar">

                        {% for item1 in reportar.all %}
                        <option value="{{item1.id}}" >{{user.username}}</option>

                        <option value="{{item1.id}}" >{{item.reportar}}</option>
                     {% endfor %}
                  </select>
                   </div>
                    -->
                    <div  class="form-group numberinput form-control gj-textbox-md" >
                      <select style="display:none"  style="width: 100%;"  name="validar" class=" prueba form-control gj-textbox-md" value="" title=""  id="id_validar">
                        <option value="{{item.validar_id}}" >{{item.validar}}</option>
                  </select>
                   </div>    
                  <input value="{{item.fecha_Inicio|date:'Y-m-d H:i'}}" type="datetime-local" name="fecha_Inicio" class="numberinput form-control gj-textbox-md" id="fecha_Inicio" width="" data-datepicker="true"> 
                  <input value="{{item.fecha_Final|date:'Y-m-d H:i'}}" type="datetime-local" name="fecha_Final" class="numberinput form-control gj-textbox-md" id="fecha_Final" width="" data-datepicker="true"> 
                  <input type="text" name="nombre" maxlength="250" value="{{item.nombre}}" class="numberinput form-control gj-textbox-md" id="id_nombre" required> 
                  <select style="display:none"   name="protocolo" style="width: 100%;" required="" id="id_protocolo" class="select numberinput form-control gj-textbox-md" readonly="true">
                    <option value="{{item.protocolo_id}}">{{item.protocolo}}</option>
                  </select>
                  <select style="display:none"  name="sistema" style="width: 100%;" class="select numberinput form-control gj-textbox-md" title="" required="" id="id_sistema" readonly>
                    <option value="{{item.sistema_id}}">{{item.sistema}}</option>
                  </select>
                  <select style="display:none"  style="width: 100%;"  name="parametro_sq" class=" select form-control gj-textbox-md" value="{{item.parametro_sq_id}}" title="" required="" id="id_parametro_sq" readonly>
                    <option value="{{item.parametro_sq_id}}">{{item.parametro_sq}}</option>
                  </select>
                  <textarea name="observaciones" value="{{item.observaciones}}" cols="40" rows="5" class="numberinput form-control gj-textbox-md" required="" id="id_observaciones">{{item.observaciones}}</textarea>
                   <!--PROTOCOLO PROCESO-->
                   <select style="display:none" name="protocolo_proceso" style="width: 100%;" required="" id="id_protocolo_proceso" class="select numberinput form-control gj-textbox-md dis">
                    <option value="{{item.protocolo_proceso_id}}">{{item.protocolo_proceso}}</option>
                  </select>
              <!--PROTOCOLO PROCESO-->  
              <!--METODO-->
                  <select style="display:none" name="metodo" style="width: 100%;" required="" id="id_metodo" class="select numberinput form-control gj-textbox-md">
                  <option value="{{item.metodo_id}}">{{item.metodo}}</option>
                  </select>
             <!--METODO-->    
             <!--MUESTRA PROCESO -->
                  <select style="display:none"  name="muestras" class=" select form-control "  title="" required="" id="id_muestras">
                  <option value="{{item.muestras_id}}">{{item.muestras.nombre_muestra}} {{item.muestras.lote_muestra}} {{item.muestras.etapa}} {{item.muestras.codigo_muestra_producto}}</option>
                </select>
               <!--MUESTRA PROCESO -->   
                      
                  
            </div>
            <div class=" container-fluid text-center col-12 mx-auto">
              <button class="btn btn-primary btn-lg" style="background-color: #1b3d70c2;" type="submit">Si, confirmar</button>
              <button type="button" class="btn btn-secondary btn-lg" data-bs-dismiss="modal">No, cancelar</button>
           <br>
           <br>
            </div>
             <!--SCRIPTS INICIO PARA SELECT2-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
   <script>
   $('.auditar').css('width', '100%').select2({
   theme: "classic",
   placeholder:"Usuario",
   dropdownParent:$("#auditar_secuencias{{ item.pk }}"),
   });
   </script>
             <!--SCRIPTS FINAL PARA SELECT2-->
        </form>
      </div>
      </div>
    </div>
  </div>

</div>
<!-- ------------AUDITAR Modal FIN --> 

</tr>
<!--                  OPCIONES PARA EDITAR SECUENCIAS VALIDADAS Y REVISAR INICIO--------------------------->

<!-- --------OBSERVACION Modal Inicio ---------------------------------------------->
     <div   data-backdrop="hidden" data-backdrop="false"  class="modal fade" id="observacion_secuencia{{ item.pk }}" tabindex="-1" aria-labelledby="modal_validar" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
              <br>
               
             <div class="" >
                     
             <div class="container">
              <div class="card">
                <div class="card-header text-white" style="background-color: #1b3d70c2;">
                  <h6 class="card-title">Información general</h6>

                </div>
                <div class="">
                
                  <ul class="list-group ">
                  <li class="list-group-item">
                  <b class="">Nombre secuencia</b> <a class="float-right">{{item.nombre}}</a>
                  </li>
                    <li class="list-group-item">
                    <b class="">Sistema usado</b> <a class="float-right">{{item.sistema}}</a>
                    </li>
                    <li class="list-group-item">
                    <b>Código protocolo/método</b> <a class="float-right">{% if item.protocolo.id > 67 %}
                      {{item.protocolo}}
                      {% endif %}
                      {% if item.protocolo_proceso.id > 9 %}
                      {{item.protocolo_proceso}}
                      {% endif %}
                      {% if item.metodo.id > 2 %}
                      {{item.metodo}}
                      {% endif %}</a>
                    </li>
                  </li>
                  <li class="list-group-item">
                    
                    
                  <b>Ensayo</b> <a class="float-right">{{item.protocolo.ensayo.nombre_ensayo}}</a>
                 
             
                  </li>
                    <li class="list-group-item">
                    <b>Patámetro</b> <a class="float-right">{{item.parametro_sq}}</a>
                    </li>
                    <li class="list-group-item">
                      {% if item.status == "Revisada" %}
                      <b>Estado </b> <a class="float-right badge bg-danger text-white rounded-pill">Pendiente</a>
                      {% endif %} 
                      {% if item.status == "Impresa" %}
                      <b>Estado</b> <a class="float-right badge bg-warning  rounded-pill">{{item.status}}</a>
                      {% endif %} 
                      {% if item.status == "Reportada" %}
                      <b>Estado</b> <a class="float-right badge bg-success text-white rounded-pill">{{item.status}}</a> 
                      {% endif %} 
                      {% if item.status == "Auditada" %}
                      <b>Estado</b> <a class="float-right badge bg-primary text-white rounded-pill">{{item.status}}</a> 
                      {% endif %}  
                      </li>
                      {% if item.status == "Revisada" or item.status == "Impresa" or item.status == "Reportada" or item.status == "Auditada" %}
                      <li class="list-group-item">
                        <b>Validada por/fecha</b> <a class="float-right">{{item.validar}}/{{item.fecha_validar}}</a>
                        {% endif %}
                        </li>
                      {% if item.status == "Impresa" or item.status == "Reportada" or item.status == "Auditada" %}
                      <li class="list-group-item">
                        <b>Impresa por/fecha</b> <a class="float-right">{{item.imprimir}}/{{item.fecha_impresion}}</a>
                        {% endif %}
                        </li>
                        {% if item.status == "Reportada" or item.status == "Auditada" %} 
                        <li class="list-group-item">
                          <b>Reportada por/fecha</b> <a class="float-right">{{item.reportar}}/{{item.fecha_reporte}}</a>
                          <li class="list-group-item">
                            <b>Referencia del reporte</b> <a class="float-right">{{item.referencia}}</a>
                          </li>
                          {% endif %}
                          {% if item.status  == "Auditada" %}
                          <li class="list-group-item">
                            <b>Auditada por/fecha</b> <a class="float-right">{{item.auditar}}/{{item.fecha_auditada}}</a>
                            {% endif %}
                            </li>
                            <li class="list-group-item">
                              <b>Observaciones</b>   
                             
                              {% if item.status == "Reportada" or item.status == "Impresa" or item.status == "Revisada" %}
                              <a href="{% url 'actualizar_secuencias_validadas' item.pk %}" title="Detalles de secuencia" ><span class="fa fa-plus-circle" ></span></a>{% endif %}
                               <a class="float-right">{{item.observaciones}}</a>
                                                            </li> 
                </div>

            
                         <div class="card">
                          <div class="card-header text-white" style="background-color: #1b3d70c2;">
                            <h6 class="card-title">Descripción de muestras</h6>

                          </div>
                          <div class="card-body">
                            {% if item.muestras.id == 16 %}
                            {% for p in item.protocolo.muestras_y_Placebos.all %}
                            <li class="list-group" >{{p}}.</li>
                            {% endfor %}
                            {% else %}
                            <li class="list-group" >{{item.muestras}}.</li>
                            {% endif %}
                            

                          </div>
                         
                        

                         </div>
            
                            
                       
                </ul>
             
             </div>

             </div>

        
           
            </div><br>
          </div>
        </div>
<!-- --------OBSERVACION Modal Fin -------------------------------------------------------------------------->

 <!--                  OPCIONES PARA EDITAR SECUENCIAS VALIDADAS Y REVISAR INICIO--------------------------->   
  {% endif %}
  {% endfor %}
                </tbody>
                </table>
            </div>
        </div>

    </div>

</div>

 <!--Data-table-->
 <script>
  new DataTable('#example3', {
   searching:true,
   "bPaginate": true,
"bLengthChange": true,
"bFilter": false,
"bInfo": false,
"bAutoWidth": false,
"striped": false,
  });
</script>
<!--Data-table-->


   
    
{% endblock contenido %}